#gallery-wrapper {
  position: relative;
  /* overflow: hidden; */
  width: 1275px;
  /* min-height: 2687px !important; */
  margin: 0 auto;
  /* margin-top: 20px; */
}

#gallery-wrapper2 {
  position: relative;
  width: 1180px;
  /* min-height: 1050px !important;
  max-height: 1800px !important; */
  margin: 0 auto;
  margin-top: 20px;
}

img.thumb {
  width: 100%;
  height: 100%;
}

#gallery-wrapper .white-panel {
  position: absolute;
  width: 300px !important;
}

#gallery-wrapper2 .white-panel {
  position: absolute;
  width: 280px !important;
  overflow: hidden;
}

#gallery-wrapper .white-panel:hover {
  background-color: rgba(0, 0, 0, 0.4);
}